include head.pug

body(class="body vh-100 d-flex")
  div(class="container align-self-center")
    div(class="row")
      div(class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto p-3 card border-primary")
        h1(class="text-center text-uppercase") FUNNY SQUARE GAME
    div(class="row")
      div(class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto p-5 card border-primary")
        form(class="" action="/login" method="post")
          div(class="form-group")
            label(for="login") Login
            input(
              type="text" 
              class="form-control" 
              id="login" 
              aria-describedby="loginHelp" 
              name="login" 
              value=""
              pattern ="[a-z0-9]{1,32}"
              placeholder="superadmin"
              required
              )/
            small(id="loginHelp" class="form-text text-muted") We'll never share your Login with anyone else.
          div(class="form-group")
            label(for="password") Password
            input(
              type="password" 
              class="form-control" 
              id="password" 
              name="password" 
              value=""
              minlength="8"
              placeholder="superadmin"
              required
              )/
          button(type="submit" class="btn btn-primary mx-auto") Login
    div(class="row")
      div(class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto p-5 card border-primary")
        a(href="./registration" class="btn btn-primary mx-auto") Registration
        
